# Grafana OSS - Environment Configuration Template

# Administrator account
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

# Access controls
GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer

# Plugins
# Comma-separated plugin IDs to install at startup.
GF_INSTALL_PLUGINS=grafana-mongodb-datasource
